<!DOCTYPE html>
<html>
<head>
    <title>dGraph Manip</title>
</head>
<body>

<center>
	<h3>This page provides APIs to interact with dGraph Database</h3>
</center>	
<br>
<br>
<br>
<br>
<br>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
         $('a#delete-all').bind('click', function() {
            $.getJSON('dgraph/delete-all-nodes',
                function(data) {
	 				alert(data)
	             });
            return false;
          });

         $('a#test').bind('click', function() {
            $.getJSON('dgraph/test',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-strongs').bind('click', function() {
            $.getJSON('dgraph/add-strongs',
                function(data) {
                    alert(data)
                 });
            return false;
          });


         $('a#add-tws').bind('click', function() {
            $.getJSON('dgraph/add-tws',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-ugnt').bind('click', function() {
            $.getJSON('dgraph/add-ugnt',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-hindi').bind('click', function() {
            $.getJSON('dgraph/add-bible?lang=Hin&version=4',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-eng').bind('click', function() {
            $.getJSON('dgraph/add-bible?lang=Eng&version=ULB',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-align-hin-grk').bind('click', function() {
            $.getJSON('dgraph/add-alignment?lang_src=Hin&version_src=4&lang_trg=Grk&version_trg=UGNT4',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-align-eng-grk').bind('click', function() {
            $.getJSON('dgraph/add-alignment?lang_src=Eng&version_src=ULB&lang_trg=Grk&version_trg=UGNT4',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#add-eng-wordnet').bind('click', function() {
            $.getJSON('dgraph/add-wordnet',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#remove-eng-wordnet').bind('click', function() {
            $.getJSON('dgraph/remove-wordnet',
                function(data) {
                    alert(data)
                 });
            return false;
          });

         $('a#ask').bind('click', function() {
            qry = document.getElementById("search_words").value
            $.getJSON('dgraph/ask/'+qry,
                function(data) {
                    var res = data
                    // $('div#search_result').text(res)
                    document.getElementById('search_result').innerHTML = res
                 });
            return false;
          });


        });
</script>

<div class='container'>
        <form>
            <a href=# id=delete-all><button class='btn btn-default'>Delete all nodes</button></a>
        </form>

</div>
<!-- 
<div class='container'>
        <form>
            <a href=# id=test><button class='btn btn-default'>test</button></a>
        </form>

</div>
 -->
<div class='container'>
        <form>
            <a href=# id=add-strongs><button class='btn btn-default'>load strongs dictionary</button></a>
        </form>

</div>

<div class='container'>
        <form>
            <a href=# id=add-tws><button class='btn btn-default'>load translation words dictionary</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-ugnt><button class='btn btn-default'>load ugnt bible</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-hindi><button class='btn btn-default'>load Hindi IRV bible</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-eng><button class='btn btn-default'>load English ULB bible</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-align-hin-grk><button class='btn btn-default'>load Hindi-Greek Alignment</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-align-eng-grk><button class='btn btn-default'>load English-Greek Alignment</button></a>
        </form>

</div>
<div class='container'>
        <form>
            <a href=# id=add-eng-wordnet><button class='btn btn-default'>load English Wordnet</button></a>
        </form>

</div>

<div class='container'>
        <form>
            <a href=# id=remove-eng-wordnet><button class='btn btn-default'>delete English Wordnet</button></a>
        </form>

</div>

<div class='container'>
        <form>
            <input type="text" id="search_words">
            <a href=# id=ask><button class='btn btn-default'>Smart Search</button></a>
            <br>
            <div id="search_result"></div>
        </form>

</div>

</body>
</html>
