<!DOCTYPE html>
<html>
<head>
    <title>dGraph Manip</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
$(function() {
 $('a#ask').bind('click', function() {
    qry = document.getElementById("search_words").value
    $.getJSON('dgraph/conceptsearch/'+qry,
      function(data) {
        var res = data
          // $('div#search_result').text(res)
        document.getElementById('search_result').innerHTML = "Algo1<br>"+res
       });
    $.getJSON('dgraph/conceptsearch2/'+qry,
      function(data) {
        var res = data
          // $('div#search_result').text(res)
        document.getElementById('search_result2').innerHTML = "Algo2<br>"+res
       });
    return false;
  });


});

</script>

<style type="text/css">
	body {
		background-image: url("{{url_for('static', filename='graph3.gif')}}"); 
		/*width: 100%; */
		height: 100%;
		background-position: top;
	  	background-repeat: no-repeat;
	  	background-size: cover;
	}
</style>
</head>
<body>
<img src="{{url_for('static', filename='bcs_logo.png')}}" style="align-self: left; width: 150px;height: 50px;vertical-align: bottom;">
<center><h2 style="background-color: #F7DC6F; width: 80%">  Vachan Graph Search<h3></center>
<br>
<br>
<br>
<br>
<br>
<center>
<div class='container'>
        <form>
            <input type="text" id="search_words">
            <a href=# id=ask><img src="{{url_for('static', filename='search_icon.png')}}" style="width: :35px;height: 35px; vertical-align: middle;"></a>
            <br>
            <div id="search_result" style="background-color: #F7DC6F; text-align: left; width: 80%"></div>
            <br>
            <br>
            <div id="search_result2" style="background-color: #F7DC6F; text-align: left; width: 80%"></div>

        </form>

</div>
</center>	
