aniso8601==8.0.0
click==7.1.2
Flask==1.1.2
Flask-RESTful==0.3.8
grpcio==1.31.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.1
pkg-resources==0.0.0
protobuf==3.13.0
pydgraph==20.3.1
PyMySQL==0.10.0
python-dateutil==2.8.1
pytz==2020.1
six==1.15.0
Werkzeug==1.0.1
